body {
	background: #e2e2e2 !important;
}

.bg-primary {
	background: #009688 !important;
}

.banner {
	width: 100%;
	height: 93vh;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url(../image/banner.png);
	background-size: cover;
	color: white;
}

.my-card {
	padding: 20px;
	background: #FFFFFF;
}

.form-spacing {
	margin-bottom: 5px;
}

.form-group.form-check {
	display: flex;
	justify-content: center;
	align-items: center;
}

.alert {
	margin-top: 10px;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: height 0.2s ease-in-out;
	overflow: hidden;
}

.alert.alert-success {
	background-color: #d4edda;
	color: #155724;
	border-color: #c3e6cb;
}

.alert.alert-danger {
	background-color: #f8d7da;
	color: #721c24;
	border-color: #f5c6cb;
}

.alert p {
	margin: 0;
}

#login .container #login-row #login-column #login-box {
	margin-top: 120px;
	max-width: 700px;
	height: auto;
	/* Changed from fixed height to auto to adjust height dynamically */
	border: 1px solid #9C9C9C;
	background-color: white;
}

#login .container #login-row #login-column #login-box #login-form {
	padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form .form-group
	{
	margin-bottom: 15px; /* Added margin-bottom to form groups */
}

#login .container #login-row #login-column #login-box #login-form #register-link
	{
	margin-top: 10px; /* Adjusted margin-top to a positive value */
}

/* user sidebar style */
@media only screen and (max-width: 600px) {
	.sidebar {
		display: none;
		width: 80% !important;
		background: white;
		height: 100vh;
		position: fixed;
		padding-top: 20px;
	}
	.content {
		margin-left: 0% !important;
	}
}

.sidebar {
	width: 18%;
	background: white;
	height: 100%;
	position: fixed;
	padding-top: 45px;
	z-index: 99999999999999999999;
}

.sidebar a {
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color: grey;
}

.sidebar a:hover {
	background: #e2e2e2
}

.sidebar .divider {
	height: 3px;
	width: 100%;
	background: #e2e2e2;
	margin-top: 10px;
}

.content {
	margin-left: 20%;
}

.sidebar .crossBtn {
	position: absolute;
	top: 0;
	right: 35px;
	font-size: 36px;
	cursor: pointer;
}

.input-group-text, .form-control {
	height: calc(2.25rem + 2px); /* Ensuring same height for both */
}

.fa-plus {
	line-height: 1.5; /* Centering the icon vertically */
}

.my_profile_photo {
	width: 30px;
	height: 30px;
	object-fit: cover;
	border-radius:50%;
}

/* search css */
.search-container{
	position: ralative;
}
.search-result {
	position: absolute;
	background: white;
	width: 40%;
	padding: 10px;
	border: 1px solid gray;
	display: none;
	text-align: left;
}
